@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
}

.probability-container {
  display: flex;
  height: 50px;
  width: 400px;
}

.offense {
  background-color: #1d4ed8;
}

.defense {
  flex-grow: 1;
  background-color: #b91c1c;
}
